html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  color: #282828;
}

/* nav */

#nav-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 70px;
  position: sticky; top: 0px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  z-index: 2;
}

#links, #buttons-home{
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.nav-links, #signup, #login {
  font-weight: 700;
  margin: 0px 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  text-decoration: none;
  color: black;
}

.nav-links:hover {
  background-color: #E84E3E;
  color: #ffffff;
  padding: 15px;
}

.current-page {
  color: #E84E3E;
  border-bottom: 2px #E84E3E solid;
}

#logo{
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 0px;
}

#logo:hover {
  background-color: #ffffff;
}

/* buttons */

#signup, #login, .search-button, .readMore-button,
#email-button, .sample-button, .borrow-button  {
  padding: 8px 20px;
  border-radius: 80px;
  border: 1px solid #143836;
}

#login, .search-button,
.readMore-button, .sample-button {
  background-color: #F9F7F4;
  color: #143836;
}

.readMore-button {
  background-color: #ffffff;
}

#signup, #email-button, .borrow-button {
  background-color: #143836;
  color: #F9F7F4;
}

.borrow-button {
  margin-bottom: 10px;
}

#login:hover, 
.search-button:hover, 
.readMore-button:hover,
.sample-button:hover {
  background-color: #143836;
  color: #F9F7F4;
  cursor: pointer;
}

#signup:hover, #email-button:hover, .borrow-button:hover {
  background-color: #F9F7F4;
  color:#143836;
  cursor: pointer;
  border: 1px solid #143836;
}

.search-button, .readMore-button,
#email-button{
  width: 10vw;
  height: 3vw;
  font-size: 16px;
}

/* home and blog headers */

.hero-grid-container {
  grid-template-columns: 50fr 50fr;
  grid-gap: 48px;
  display: flex;
  padding: 40px 30px -5px 30px;
  background-color: #F9F7F4;
}

#hero-image {
  width: 50vw;
  object-position: bottom;
}

.hero-content{
  padding-top: 14vw;
  padding-left: 10vw;
  padding-right: 3vw;
}

.hero {
  margin-bottom: 24px;
}

.hero-description {
    margin-bottom: 8px;
}

#hero-input{
width: 20vw;
height: 2.3vw;
padding-left: 4px;
}

#hero-input::placeholder{
   padding-left: 4px;
}

#blog-image {
  width: 100%;
}

#blog-image-square {
  width: 100%;
  padding-top: 10px;
}

.blog-hero-grid-container {
  grid-template-columns: 50fr 50fr;
  padding: 40px 30px -5px 30px;
  grid-gap: 48px;
  display: flex;
  background-color: #1F524F;
  padding-top: 30px;
}

.blog-hero-content{
  padding-top: 6vw;
  padding-left: 6vw;
  padding-right: 3vw;
}

#blog-hero {
padding-left: 15vw;
  width: 50vw;
}

.blog-hero-heading {
  margin-bottom: 10px;
  color: #FFFFFF;
}

.blog-hero-description {
  color: #FFFFFF;
}

.medium-spacer{
    height: 40px;
}

/* page content */

.grid-container, 
.blog-grid-container,
.newsletter-grid-container,
.blog-post-container,
.coming-soon-container,
.coming-soon-container-right, 
.book-description-container{
  display: grid;
  grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw;
  grid-gap: 10px;
  padding: 10px;
  padding-bottom: 20px;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.grid-container > div, 
.blog-grid-container > div,
.newsletter-grid-container > div,
.blog-post-container > div,
.coming-soon-container > div,
.coming-soon-container-right > div
.book-description-container > div {
  text-align: left;
  padding-top: 0.5px;
  font-size: 20px;
  margin-right: auto;
}

.blog-grid-container, .newsletter-grid-container {
  grid-template-columns: 40fr 60fr;
  padding: 40px 10px;
  grid-gap: 30px;
}



.book-description-container{
  grid-template-columns: 50fr 50fr;
  border-bottom: 1px #787878 solid;
  align-items: center;
   justify-items: center;
   padding-top: 20px;
   padding-bottom: 40px;
}

.book-description > h2 {
  margin-bottom: 10px;
}

.book-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#book-image-description{
  margin: 30px 0px;
  border-radius: 10px;
}

.book-synopsis >p {
  padding: 20px 0px;
  margin-bottom: 0px;
}

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.book-author {
  font-size: 25px;
}


.newsletter-grid-container {
  background-color: #F9F7F4;
  grid-template-columns: 60fr 4fr;
  margin-bottom: 30px;
  grid-gap: 10px;
}

.blog-grid-container > div, 
.newsletter-grid-container > div,
.coming-soon-container-right > div {
  margin: auto;
  color: #282828;
}

.coming-soon-container {
  grid-template-columns: 31.5fr 68.5fr;
  grid-gap: 50px;
}

.coming-soon-container-right {
  grid-template-columns: 40fr 60fr;
  grid-gap: 30px;
  border-top: solid 5px #F0D0CE;
  display: flex;
  justify-content: center;
}

.coming-soon-large-title {
  margin-bottom: 10px;
}

.blog-librarian-section {
  border-top: 1px #787878 solid;
}

.blog-librarian-title {
  font-weight: 700;
  font-size: 20px;
}

.blog-post-title {
  margin-top: 1vw;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
}

.blog-tile-heading {
  margin-left: 5.5vw;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.blog-post-container {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

.blog-post-content {
  border-top: 5px solid #F3CA30;
}

.coming-soon-content {
  border-top: solid 5px #F0D0CE;
}

.newsletter-image {
  width: 90%;
}

#horizontal-lines {
  border-bottom: 1px #787878 solid;
  border-top: 1px #787878 solid;
}

.blog-title {
  color: #1F524F;
  margin: 0px;
}

#newsletter {
  margin-bottom: 10px;
}

#email-input {
  width: 30vw;
  height: 2vw;
}

#email {
  display: flex;
}


/* fonts  */
h3 {
  margin-left: 8.5vw;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
  
h4 {
  font-size: 18px; 
  padding-top: 0;
  margin-bottom: 0px;
}
  
h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 38px;
}
  
h1 {
  font-size: 50px;
  font-weight: 600;
}
  
p{
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
}

/* Book hover  */

#book-image {
  width: 100%;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
  transition: .5s ease;
}

.book-zoom{
  overflow: hidden;
  border-radius: 3%;
  position: relative;
}

.book-zoom:hover #book-image {
  transform: scale(1.1);
  filter: blur(2px);
  transition: all .5s ease;
}

.book-zoom:hover .hidden-background {
  opacity: 1;
}

.hidden-text {
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;

  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #282828;
  border-radius: 80px;

  margin: auto;
}

.hidden-background{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  background-color: #F0D0CE;
}

#footer-content {
  margin-left: 90px;
  margin-right: 15vw;
  margin-top: 75px;
}

.footer-image > img {
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 60px; 
}